button{
	position:absolute;
	left: 1000px;
	margin:top;
	margin:left;

}
body{
	margin: 0;
}
.Cont{
  background-image: url("./background2.jpg"); 
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;	
  margin: 0;
}
.raff{
position: fixed;
margin: 0;
bottom: 50px;
}
.rocket{
position: fixed;
left: 250px;
bottom: 50px;
}